# Part 3: Pandas and Data I/O

## Introduction to Python

### Tom Paskhalis

##### 2022-07-27

##### Data Science Summer School 2022

## Rectangular data

<div style="text-align: center;">
    <img width="700" height="700" src="./imgs/punchcard.jpg">
</div>

History of rectangular data goes back to punchcards with origins in US census data processing.

Source: [Wikipedia](https://en.wikipedia.org/wiki/Punched_card)

## Tidy data

- Tidy data is a specific subset of rectangular data, where:
    - Each variable is in a column
    - Each observation is in a row
    - Each value is in a cell

<div style="text-align: center;">
    <img width="700" height="700" src="./imgs/tidy_data.png">
</div>

Source: [R for Data Science](https://r4ds.had.co.nz/tidy-data.html)

## Data in Python

- Python can hold and manipulate > 1 dataset at the same time
- Python stores objects in memory
- The limit on the size of data is determined by your computer memory
- Most functionality for dealing with data is provided by external libraries

## Pandas

- Standard Python library does not have data type for tabular data
- However, `pandas` library has become the de facto standard for data manipulation
- pandas is built upon (and often used in conjuction with) other computational libraries
- E.g. `numpy` (array data type), `scipy` (linear algebra) and `scikit-learn` (machine learning)

In [1]:
# Using 'as' allows to avoid typing full name each time the module is referred to
import pandas as pd

## Series

- *Series* is a one-dimensional array-like object

In [2]:
sr1 = pd.Series([150.0, 120.0, 3000.0])
sr1

0     150.0
1     120.0
2    3000.0
dtype: float64

In [3]:
sr1[0] # Slicing is simiar to standard Python objects

150.0

In [4]:
sr1[sr1 > 200]

2    3000.0
dtype: float64

## Indexing in Series

- Another way to think about Series is as a ordered dictionary

In [5]:
d = {'apple': 150.0, 'banana': 120.0, 'watermelon': 3000.0}

In [6]:
sr2 = pd.Series(d)
sr2

apple          150.0
banana         120.0
watermelon    3000.0
dtype: float64

In [7]:
sr2[0] # Recall that this slicing would be impossible for standard dictionary

150.0

In [8]:
sr2.index

Index(['apple', 'banana', 'watermelon'], dtype='object')

## DataFrame - the workhorse of data analysis

- *DataFrame* is a rectangular table of data

In [9]:
data = {'fruit': ['apple', 'banana', 'watermelon'], # DataFrame can be constructed from
        'weight': [150.0, 120.0, 3000.0],           # a dict of equal-length lists/arrays
        'berry': [False, True, True]}           
df = pd.DataFrame(data)
df

        fruit  weight  berry
0       apple   150.0  False
1      banana   120.0   True
2  watermelon  3000.0   True

## Indexing in DataFrame

- DataFrame has both row and column indices
- `DataFrame.loc()` provides method for *label* location
- `DataFrame.iloc()` provides method for *index* location

In [10]:
df.iloc[0] # First row

fruit     apple
weight    150.0
berry     False
Name: 0, dtype: object

In [11]:
df.iloc[:,0] # First column

0         apple
1        banana
2    watermelon
Name: fruit, dtype: object

## Summary of indexing in DataFrame

| Expression             | Selection Operation                                     |
|:-----------------------|:--------------------------------------------------------|
| `df[val]`              | Column or sequence of columns +convenience (e.g. slice) |
| `df.loc[lab_i]`        | Row or subset of rows by label                          |
| `df.loc[:, lab_j]`     | Column or subset of columns by label                    |
| `df.loc[lab_i, lab_j]` | Both rows and columns by label                          |
| `df.iloc[i]`           | Row or subset of rows by integer position               |
| `df.iloc[:, j]`        | Column or subset of columns by integer position         |
| `df.iloc[i, j]`        | Both rows and columns by integer position               |
| `df.at[lab_i, lab_j]`  | Single scalar value by row and column label             |
| `df.iat[i, j]`         | Single scalar value by row and column integer position  |

Extra: [Pandas documentation on indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

## Subsetting in DataFrame

In [12]:
df.iloc[:2] # Select the first two rows (with convenience shortcut for slicing)

    fruit  weight  berry
0   apple   150.0  False
1  banana   120.0   True

In [13]:
df[:2]  # Shortcut

    fruit  weight  berry
0   apple   150.0  False
1  banana   120.0   True

In [14]:
df.loc[:, ['fruit', 'berry']] # Select the columns 'fruit' and 'berry'

        fruit  berry
0       apple  False
1      banana   True
2  watermelon   True

In [15]:
df[['fruit', 'berry']] # Shortcut

        fruit  berry
0       apple  False
1      banana   True
2  watermelon   True

## Columns in DataFrame

In [16]:
df.columns # Retrieve the names of all columns

Index(['fruit', 'weight', 'berry'], dtype='object')

In [17]:
df.columns[0] # This Index object is subsettable

'fruit'

In [18]:
df.columns.str.startswith('fr') # As column names are strings, we can apply str methods

array([ True, False, False])

In [19]:
df.iloc[:,df.columns.str.startswith('fr')] # This is helpful with more complicated column selection criteria

        fruit
0       apple
1      banana
2  watermelon

## Filtering DataFrame

In [20]:
df[df.loc[:,'berry'] == False] # Select rows where fruits are not berries

   fruit  weight  berry
0  apple   150.0  False

In [21]:
df[df['berry'] == False] # The same can be achieved with more concise syntax

   fruit  weight  berry
0  apple   150.0  False

In [22]:
weight200 = df[df['weight'] > 200] # Create new dataset with rows where weight is higher than 200
weight200

        fruit  weight  berry
2  watermelon  3000.0   True

## Variable transformation

- Lambda functions can be used to transform data with `map()` method

In [23]:
df['fruit'].map(lambda x: x.upper())

0         APPLE
1        BANANA
2    WATERMELON
Name: fruit, dtype: object

In [24]:
transform = lambda x: x.capitalize()

In [25]:
transformed = df['fruit'].map(transform)

In [26]:
transformed

0         Apple
1        Banana
2    Watermelon
Name: fruit, dtype: object

## File object

- File object in Python provides the main interface to external files
- In contrast to other core types, file objects are created not with a literal,
- But with a function, `open()`:

```
<variable_name> = open(<filepath>, <mode>)
```

## Data input and output

- Modes of file objects allow to:
    - (`r`)ead a file (default)
    - (`w`)rite an object to a file
    - e(`x`)clusively create, failing if a file exists
    - (`a`)ppend to a file
- You can `r+` mode if you need to read and write to file

## Data output example

In [27]:
f = open('../temp/test.txt', 'w') # Create a new file object in write mode

In [28]:
f.write('This is a test file.') # Write a string of characters to it

20

In [29]:
f.close() # Flush output buffers to disk and close the connection

## Data input example

- To avoid keeping track of open file connections, `with` statement can be used

Extra: [Python documentation on with statement](https://docs.python.org/3.10/reference/compound_stmts.html#with)

In [30]:
with open('../temp/test.txt', 'r') as f: # Note that we use 'r' mode for reading
    text = f.read()

In [31]:
text

'This is a test file.'

## Reading and writing data in `pandas`

- `pandas` provides high-level methods that takes care of file connections
- These methods all follow the same `read_<format>` and `to_<format>` name patterns
- CSV (comma-separated value) files are the standard of interoperability

```
<variable_name> = pd.read_<format>(<filepath>)
```

```
<variable_name>.to_<format>(<filepath>)
```

## Flights statistics

<table>
    <tr>
        <td><img width="500" height="400" src='imgs/united_breaks.png'></td>
        <td><img width="500" height="400" src='imgs/bts.png'></td>
    </tr>
</table>

Source: [YouTube](https://www.youtube.com/watch?v=5YGc4zOqozo), [Bureau of Transportation](https://transtats.bts.gov/ONTIME/Departures.aspx)

## Reading data in `pandas` example

- We will use the data from [Bureau of Transportation](https://transtats.bts.gov/ONTIME/Departures.aspx)
- Domestic departures from major US airports for United Airlines
- Between 1 January and 31 May 2022

In [32]:
united_2022 = pd.read_csv('../data/united_2022.csv')

## Basic DataFrame info

In [33]:
# Data dimensionality, 2d for tabular
united_2022.ndim

2

In [34]:
# Size of each dimension (analogous to R's dim())
# (n_rows, n_columns)
united_2022.shape

(154575, 18)

In [35]:
# Total number of cells (n_rows * n_columns)
united_2022.size

2782350

## Visual data inspection

In [36]:
united_2022.head() # Returns the top n (n=5 default) rows

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,01/01/2022,225,N488UA,ATL,DEN,16:15:00,17:23:00,211,240,68,17:35:00,12,0,0,29,0,68
1,UA,01/01/2022,282,N447UA,ATL,IAH,19:00:00,19:02:00,138,126,2,19:15:00,13,0,0,0,0,0
2,UA,01/01/2022,340,N809UA,ATL,DEN,08:20:00,08:17:00,211,283,-3,08:33:00,16,0,0,69,0,0
3,UA,01/02/2022,225,N463UA,ATL,DEN,16:15:00,16:36:00,211,193,21,16:48:00,12,0,0,0,0,0
4,UA,01/02/2022,282,N63899,ATL,IAH,19:00:00,18:54:00,138,129,-6,19:07:00,13,0,0,0,0,0

## Visual data inspection continued

In [37]:
united_2022.tail() # Returns the bottom n (n=5 default) rows

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
154570,UA,05/31/2022,2652,N47524,SFO,BOS,13:25:00,13:19:00,354,318,-6,13:38:00,19,0,0,0,0,0
154571,UA,05/31/2022,2655,N15969,SFO,EWR,08:50:00,10:19:00,327,343,89,10:37:00,18,89,0,16,0,0
154572,UA,05/31/2022,2657,N77431,SFO,PHX,19:00:00,18:52:00,119,115,-8,19:09:00,17,0,0,0,0,0
154573,UA,05/31/2022,2669,N76523,SFO,SAN,10:54:00,10:57:00,101,85,3,11:11:00,14,0,0,0,0,0
154574,UA,05/31/2022,2670,N37253,SFO,TPA,09:59:00,09:52:00,310,305,-7,10:08:00,16,0,0,0,0,0

## Reading in other (non-`.csv`) data files

- Pandas can read in file other than `.csv` (comma-separated value)
- Common cases include STATA `.dta`, SPSS `.sav` and SAS `.sas`
- Use `pd.read_stata(path)`, `pd.read_spss(path)` and `pd.read_sas(path)`
- Check [here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html) for more examples

## Writing data out in `pandas`

- Note that when writing data out we start with the object name storing the dataset
- I.e. `df.to_csv(path)` as opposed to `df = pd.read_csv(path)`
- Pandas can also write out into other data formats
- E.g. `df.to_excel(path)`, `df.to_stata(path)`

In [38]:
united_2022.to_csv('../temp/united_2022.csv')

## Additional pandas materials

Books:

- McKinney, Wes. 2017. *Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython*. 2nd ed. Sebastopol, CA: O'Reilly Media 
  
  **From the original author of the library!**

Online:

- [Pandas Getting Started Tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)
- [Pandas Documentation](https://pandas.pydata.org/docs/reference/index.html) (intermediate and advanced)

## Next

- Exploratory data analysis
- Data visualization